language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"
cache: pip
install:
  - pip install -r requirements.txt
script:
  - python main.py